<sky-repeater expandMode="single">
  <sky-repeater-item [isExpanded]="true">
    <sky-repeater-item-title> Update Scores </sky-repeater-item-title>
    <sky-repeater-item-content>
      <table class="center">
        <tr>
          <th class="team-check">Game</th>
          <th class="team-check">Bowl Game</th>
          <th class="team-name">Date/Time</th>
          <th class="team-name">Team 1</th>
          <th class="team-check">Team 1 Score</th>
          <th class="team-name">Team 2</th>
          <th class="team-check">Team 2 Score</th>
          <th>Points</th>
        </tr>
        <ng-container [formGroup]="scoresForm">
          <ng-container formArrayName="games">
            <tr [formGroupName]="i" *ngFor="let bowl of gameResults; let i=index">
              <td class="team-check">
                {{ bowl.game_id }}
              </td>
              <td class="team-name">
                {{ bowl.bowl_name }}
              </td>
              <td class="team-name">
                {{ bowl.game_time | date: "short" }}
              </td>
              <td class="team-name">
                {{ bowl.team_1_name }}
              </td>
              <td class="team-check">
                <!-- <input type="number" min="0" [(ngModel)]="bowl.score_1" /> -->
                <input formControlName="score1" class="sky-form-control" style="width: 50px" type="number" min="0"/>
              </td>
              <td class="team-name">
                {{ bowl.team_2_name }}
              </td>
              <td class="team-check">
                <!-- <input type="number" min="0" [(ngModel)]="bowl.score_2" /> -->
                <input formControlName="score2" class="sky-form-control" style="width: 50px" type="number" min="0"/>
              </td>
              <td class="team-check">
                <button type="button" (click)="
                updateBowlScore(bowl.game_id!)
              ">
                  Update
                </button>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </table>
    </sky-repeater-item-content>
  </sky-repeater-item>
</sky-repeater>