<sky-alert *ngIf="hasError" alertType="danger">
  {{ errorMsg }}
</sky-alert>
<sky-alert *ngIf="added" alertType="success">
  {{ addedMsg }}
</sky-alert>
<div style="max-width: 300px">
  <form [formGroup]="addBowlForm">
    <sky-input-box labelText="Bowl Name">
      <input style="display: inline-block" formControlName="bowlName" />
    </sky-input-box>
    <sky-input-box labelText="City">
      <input style="display: inline-block" formControlName="city" />
    </sky-input-box>
    <sky-input-box labelText="State">
      <input style="display: inline-block" formControlName="state" />
    </sky-input-box>
  </form>
</div>
<button (click)="addBowl()">Add Bowl</button>
