<table class="center">
  <tr>
    <th class="team-check">Entry</th>
    <!-- <th class="team-name">Highest Scoring Bowl</th> -->
    <th class="team-name">Total Points</th>
  </tr>
  <tr *ngFor="let tiebreaker of tiebreakers">
    <td class="team-name">
      {{ tiebreaker.entry_name }}
    </td>
    <!-- <td class="team-name">
                        {{ tiebreaker.tiebreaker_1 }}
                    </td> -->
    <td class="team-name">
      {{ tiebreaker.tiebreaker_2 }}
    </td>
  </tr>
</table>
