<sky-alert *ngIf="showError" alertType="danger">
  {{ errorMsg }}
</sky-alert>
<main>
  <div *ngIf="!submitted">
    <h1 class="header">Submit Entry</h1>
    <app-pick-summary
      [name]="name"
      [threePointGames]="threePointGames"
      [fivePointGames]="fivePointGames"
      [tenPointGames]="tenPointGames"
      [email]="email"
      [possiblePoints]="calculateTotalPoints()"
      [threePointError]="threePointError"
      [fivePointError]="fivePointError"
      [tenPointError]="tenPointError"
    >
    </app-pick-summary>
    <form
      [formGroup]="pickForm"
      style="width: 400px; margin-left: auto; margin-right: auto"
    >
      <sky-input-box data-sky-id="input-box-first-name" labelText="Entry Name">
        <input formControlName="name" spellcheck="false" type="text" />
      </sky-input-box>
      <sky-input-box data-sky-id="input-box-first-name" labelText="Email">
        <input formControlName="email" spellcheck="false" type="text" />
      </sky-input-box>
    </form>
    <br />
    <!-- Bowl Picks -->
    <table class="center">
      <tr>
        <th class="team-date">Date</th>
        <th class="team-name" style="border-left: 1px solid black">
          Bowl Game
        </th>
        <th class="team-check" style="border-left: 1px solid black"></th>
        <th class="team-name">Team 1</th>
        <th class="team-check" style="border-left: 1px solid black"></th>
        <th class="team-name" style="border-right: 1px solid black">Team 2</th>
        <th class="team-points">Points</th>
      </tr>
      <ng-container [formGroup]="pickForm">
        <ng-container formArrayName="newpicks">
          <tr [formGroupName]="i" *ngFor="let pick of picks; let i = index">
            <td class="team-date">
              {{ pick.game_time | date : "EEE MMM dd" }}
            </td>
            <td class="team-name" style="border-left: 1px solid black">
              {{ pick.bowl_name }}
            </td>
            <td class="team-check" style="border-left: 1px solid black">
              <sky-checkbox
                formControlName="team1picked"
                (change)="updateSelection(pick.game_id, 1)"
              >
              </sky-checkbox>
            </td>
            <td class="team-name" style="border-right: 1px solid black">
              {{ pick.team_1_name }}
            </td>
            <td class="team-check" style="border-left: 1px solid black">
              <sky-checkbox
                formControlName="team2picked"
                (change)="updateSelection(pick.game_id, 2)"
              >
              </sky-checkbox>
            </td>
            <td class="team-name" style="border-right: 1px solid black">
              {{ pick.team_2_name }}
            </td>
            <td *ngIf="!pick.is_new_years_game">
              <select formControlName="points" style="width: 50px">
                <option
                  *ngFor="let pointValue of pointValues"
                  [ngValue]="pointValue"
                >
                  {{ pointValue }}
                </option>
              </select>
            </td>
            <td *ngIf="pick.is_new_years_game" style="width: 50px">
              <select formControlName="points">
                <option
                  *ngFor="let pointValue of newYearsPointValues"
                  [ngValue]="pointValue"
                >
                  {{ pointValue }}
                </option>
              </select>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </table>
    <br />
    <!-- playoff section -->
    <form [formGroup]="pickForm">
      <h2 class="header">Championship Game</h2>
      <div class="sky-deemphasized" style="text-align: center">
        Choose the two teams that will make the College Football Playoff
        Championship Game.
      </div>
      <div style="width: 400px; margin-left: auto; margin-right: auto">
        Choose 1st team

        <select formControlName="playoff1">
          <option
            [value]="school.school_id"
            *ngFor="let school of playoffSchoolsA"
          >
            #{{ school.seed_number }}. {{ school.school_name }}
          </option>
        </select>
      </div>
      <div style="width: 400px; margin-left: auto; margin-right: auto">
        Choose 2nd team
        <select formControlName="playoff2">
          <option
            [value]="school.school_id"
            *ngFor="let school of playoffSchoolsB"
          >
            #{{ school.seed_number }}. {{ school.school_name }}
          </option>
        </select>
      </div>

      <h2 class="header">National Champion</h2>
      <div style="width: 400px; margin-left: auto; margin-right: auto">
        Choose the National Champion
        <select formControlName="champion">
          <option
            [value]="school.school_id"
            *ngFor="let school of playoffSchools"
          >
            #{{ school.seed_number }}. {{ school.school_name }}
          </option>
        </select>
      </div>
    </form>
    <!-- not used anymore-->
    <div>
      <!-- Playoff Picks -->
      <!-- <h2 class="header">College Football Playoff</h2>
      <table class="center">
        <tr>
        <th class="team-date">Date</th>
        <th class="team-name" style="border-left: 1px solid black">
          Bowl Game
        </th>
        <th class="team-check" style="border-left: 1px solid black"></th>
        <th class="team-name">Team 1</th>
        <th class="team-check" style="border-left: 1px solid black"></th>
        <th class="team-name" style="border-right: 1px solid black">Team 2</th>
        <th class="team-points">Points</th>
      </tr>
      <ng-container [formGroup]="playoffPickForm">
        <ng-container formArrayName="playoffPicks">
          <tr
            [formGroupName]="i"
            *ngFor="let pick of playoffPicks; let i = index"
          >
            <td class="team-date">
              {{ pick.game_time | date }}
            </td>
            <td class="team-name" style="border-left: 1px solid black">
              {{ pick.bowl_name }}
            </td>
            <td class="team-check" style="border-left: 1px solid black">
              <sky-checkbox
                formControlName="team1picked"
                (click)="updateSelection(pick.game_id, 1, 0)"
              >
              </sky-checkbox>
            </td>
            <td class="team-name" style="border-right: 1px solid black">
              {{ pick.team_1_name }}
            </td>
            <td class="team-check" style="border-left: 1px solid black">
              <sky-checkbox
                formControlName="team2picked"
                (click)="updateSelection(pick.game_id, 2, 0)"
              >
              </sky-checkbox>
            </td>
            <td class="team-name" style="border-right: 1px solid black">
              {{ pick.team_2_name }}
            </td>
            <td *ngIf="!pick.is_new_years_game">
              <select formControlName="points">
                <option
                  *ngFor="let pointValue of pointValues"
                  [ngValue]="pointValue"
                >
                  {{ pointValue }}
                </option>
              </select>
            </td>
            <td *ngIf="pick.is_new_years_game">
              <select formControlName="points">
                <option
                  *ngFor="let pointValue of newYearsPointValues"
                  [ngValue]="pointValue"
                >
                  {{ pointValue }}
                </option>
              </select>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </table> -->
      <!-- Championship Pick -->
      <!-- <div class="center">
      <br />
    </div>
    <h2 class="header">College Football Championship Game</h2>
    <div class="header" *ngIf="!showChampionship">
      Select the winners of the playoff games to compete in the championship
      game.
    </div> -->
      <!-- Championship Pick -->
      <!-- <div *ngIf="showChampionship">
      <br />
      <table class="center">
        <tr>
          <th class="team-date">Date</th>
          <th class="team-name" style="border-left: 1px solid black">
            Bowl Game
          </th>
          <th class="team-check" style="border-left: 1px solid black"></th>
          <th class="team-name">Team 1</th>
          <th class="team-check" style="border-left: 1px solid black"></th>
          <th class="team-name" style="border-right: 1px solid black">
            Team 2
          </th>
          <th class="team-points">Points</th>
        </tr>
        <ng-container [formGroup]="championshipPickForm">
          <ng-container formArrayName="championshipPicks">
            <tr
              [formGroupName]="i"
              *ngFor="let pick of championshipPicks; let i = index"
            >
              <td class="team-date">
                {{ pick.game_time | date }}
              </td>
              <td class="team-name" style="border-left: 1px solid black">
                {{ pick.bowl_name }}
              </td>
              <td class="team-check" style="border-left: 1px solid black">
                <sky-checkbox
                  formControlName="team1picked"
                  (change)="updateSelection(pick.game_id, 1, 0)"
                >
                </sky-checkbox>
              </td>
              <td class="team-name" style="border-right: 1px solid black">
                {{ pick.team_1_name }}
              </td>
              <td class="team-check" style="border-left: 1px solid black">
                <sky-checkbox
                  formControlName="team2picked"
                  (change)="updateSelection(pick.game_id, 2, 0)"
                >
                </sky-checkbox>
              </td>
              <td class="team-name" style="border-right: 1px solid black">
                {{ pick.team_2_name }}
              </td>
              <td *ngIf="!pick.is_new_years_game">
                <select formControlName="points">
                  <option
                    *ngFor="let pointValue of pointValues"
                    [ngValue]="pointValue"
                  >
                    {{ pointValue }}
                  </option>
                </select>
              </td>
              <td *ngIf="pick.is_new_years_game">
                <select formControlName="points">
                  <option
                    *ngFor="let pointValue of newYearsPointValues"
                    [ngValue]="pointValue"
                  >
                    {{ pointValue }}
                  </option>
                </select>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </table>
    </div>
    <div class="center">
      <br />
    </div> -->
    </div>
    <!-- Tiebreakers -->
    <h2 class="header">Tiebreakers</h2>
    <div [formGroup]="tiebreakerForm" class="header">
      <span class="header">
        How many <span style="font-weight: bold">total</span> points will be
        scored in the 2024-2025 bowl season? (The answer for last year was
        <span style="font-weight: bold">2,237</span>).
      </span>
      <div>
        <input formControlName="tiebreaker2" type="number" min="0" />
      </div>
      <!-- <div class="header" style="text-align: center; padding-top: 20px">
        Enter the total number of points scored in the highest scoring bowl
        game.
        <br />
        <input
          formControlName="tiebreaker2"
          class="sky-form-control"
          style="width: 100px"
          type="number"
          min="1"
          max="500"
        />
      </div>-->
    </div>
    <sky-alert *ngIf="showSubmitError" alertType="danger">
      {{ submitErrorMsg }}
    </sky-alert>
    <!-- <button (click)="selectAllTeam2()">pick all team 2s</button> -->
    <div style="text-align: center; padding-top: 20px">
      <button
        class="sky-btn sky-btn-primary sky-margin-inline-compact"
        (click)="submit()"
        [disabled]="false"
      >
        Submit
      </button>
      <button class="sky-btn sky-margin-inline-compact" (click)="clear()">
        Clear
      </button>
      <div *ngIf="submitted">Success! Thank you for submitting your entry.</div>
    </div>
    <br />
  </div>
  <div *ngIf="submitted">
    <app-picks-completed [picks]="allPicks" [name]="name" [email]="email">
    </app-picks-completed>
    <br />
  </div>
</main>
