<sky-alert *ngIf="showError" alertType="danger">
  {{ errorMsg }}
</sky-alert>

<!-- Login Required Message -->
<div *ngIf="!isAuthenticated" style="text-align: center; padding: 40px; background-color: #f5f5f5; margin: 20px; border-radius: 8px;">
  <h2 style="color: #333; margin-bottom: 20px;">Login Required</h2>
  <p style="color: #666; margin-bottom: 30px; font-size: 16px;">
    You must be logged in to submit an entry. Please log in to continue.
  </p>
  <button 
    (click)="login()" 
    style="background-color: #014d0e; color: white; padding: 12px 30px; border: none; border-radius: 4px; font-size: 16px; cursor: pointer; font-weight: 600;"
  >
    Go to Login
  </button>
</div>

<!-- Picks Form (shown only when authenticated) -->
<main *ngIf="isAuthenticated">
  <div *ngIf="!submitted">
    <h1 class="header">Submit Entry</h1>
    
    <!-- Game Count Header -->
    <div class="game-count-header">
      <div class="game-count-item">
        <span class="game-count-label">Games Picked:</span>
        <span class="game-count-value">{{ gamesPicked }}/{{ totalGames }}</span>
      </div>
      <div class="game-count-item">
        <span class="game-count-label">3-Point Games:</span>
        <span class="game-count-value" [class.error]="threePointGames > maxThreePointGames">{{ threePointGames }}/{{ maxThreePointGames }}</span>
      </div>
      <div class="game-count-item">
        <span class="game-count-label">5-Point Games:</span>
        <span class="game-count-value" [class.error]="fivePointGames > maxFivePointGames">{{ fivePointGames }}/{{ maxFivePointGames }}</span>
      </div>
      <div class="game-count-item">
        <span class="game-count-label">10-Point Games:</span>
        <span class="game-count-value" [class.error]="tenPointGames > maxTenPointGames">{{ tenPointGames }}/{{ maxTenPointGames }}</span>
      </div>
      <div class="game-count-item">
        <span class="game-count-label">Total Possible Points:</span>
        <span class="game-count-value" style="font-weight: bold;">{{ calculateTotalPoints() }} / {{ calculateMaxPossiblePoints() }}</span>
      </div>
    </div>
    
    <app-pick-summary
      [name]="name"
      [gamesPicked]="gamesPicked"
      [totalGames]="totalGames"
      [threePointGames]="threePointGames"
      [fivePointGames]="fivePointGames"
      [tenPointGames]="tenPointGames"
      [email]="email"
      [possiblePoints]="calculateTotalPoints()"
      [threePointError]="threePointError"
      [fivePointError]="fivePointError"
      [tenPointError]="tenPointError"
    >
    </app-pick-summary>
    <form
      [formGroup]="pickForm"
      style="width: 400px; margin-left: auto; margin-right: auto"
    >
      <sky-input-box data-sky-id="input-box-first-name" labelText="Entry Name">
        <input formControlName="name" spellcheck="false" type="text" />
      </sky-input-box>
      
      <!-- Pick for Me Button -->
      <div style="text-align: center; margin: 15px 0;">
        <button 
          (click)="pickForMe()" 
          type="button"
          class="pick-for-me-btn"
        >
          Pick for me
        </button>
      </div>
    </form>
    <br />
    <!-- Bowl Picks -->
    <table class="center">
      <tr>
        <th class="team-date">Date</th>
        <th class="team-name" style="border-left: 1px solid black">
          Bowl Game
        </th>
        <th class="team-check" style="border-left: 1px solid black"></th>
        <th class="team-name">Team 1</th>
        <th class="team-check" style="border-left: 1px solid black"></th>
        <th class="team-name" style="border-right: 1px solid black">Team 2</th>
        <th class="team-points">Points</th>
      </tr>
      <ng-container [formGroup]="pickForm">
        <ng-container formArrayName="newpicks">
          <tr [formGroupName]="i" *ngFor="let pick of picks; let i = index">
            <td class="team-date">
              {{ pick.game_time | date : "EEE MMM dd" }}
            </td>
            <td class="team-name" style="border-left: 1px solid black">
              {{ pick.bowl_name }}
            </td>
            <td class="team-check" style="border-left: 1px solid black">
              <sky-checkbox
                formControlName="team1picked"
                (change)="updateSelection(pick.game_id, 1)"
              >
              </sky-checkbox>
            </td>
            <td class="team-name" style="border-right: 1px solid black">
              {{ pick.team_1_name }}
            </td>
            <td class="team-check" style="border-left: 1px solid black">
              <sky-checkbox
                formControlName="team2picked"
                (change)="updateSelection(pick.game_id, 2)"
              >
              </sky-checkbox>
            </td>
            <td class="team-name" style="border-right: 1px solid black">
              {{ pick.team_2_name }}
            </td>
            <td *ngIf="!pick.is_new_years_game">
              <select formControlName="points" style="width: 50px">
                <option
                  *ngFor="let pointValue of pointValues"
                  [ngValue]="pointValue"
                >
                  {{ pointValue }}
                </option>
              </select>
            </td>
            <td *ngIf="pick.is_new_years_game" style="width: 50px">
              <select formControlName="points">
                <option
                  *ngFor="let pointValue of newYearsPointValues"
                  [ngValue]="pointValue"
                >
                  {{ pointValue }}
                </option>
              </select>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </table>
    <br />
    <!-- Championship and Champion Selection Section -->
    <form [formGroup]="pickForm" class="playoff-section">
      <h2 class="header">Championship Game</h2>
      <div class="section-description">
        Choose the two teams that will make the College Football Playoff Championship Game.
      </div>
      
      <div class="playoff-container">
        <div class="playoff-team-selector">
          <label for="playoff1-select">1st Team</label>
          <select id="playoff1-select" formControlName="playoff1">
            <option [value]="null" disabled selected>Select team...</option>
            <option
              [value]="school.school_id"
              *ngFor="let school of playoffSchoolsA"
            >
              #{{ school.seed_number }}. {{ school.school_name }}
            </option>
          </select>
        </div>

        <div class="playoff-team-selector">
          <label for="playoff2-select">2nd Team</label>
          <select id="playoff2-select" formControlName="playoff2">
            <option [value]="null" disabled selected>Select team...</option>
            <option
              [value]="school.school_id"
              *ngFor="let school of playoffSchoolsB"
            >
              #{{ school.seed_number }}. {{ school.school_name }}
            </option>
          </select>
        </div>
      </div>

      <h2 class="header champion-header">National Champion</h2>
      <div class="section-description">
        Choose the National Champion.
      </div>

      <div class="champion-container">
        <div class="champion-selector">
          <select formControlName="champion">
            <option [value]="null" disabled selected>Select champion...</option>
            <option
              [value]="school.school_id"
              *ngFor="let school of playoffSchools"
            >
              #{{ school.seed_number }}. {{ school.school_name }}
            </option>
          </select>
        </div>
      </div>
    </form>
    <!-- not used anymore-->
    <div>
      <!-- Playoff Picks -->
      <!-- <h2 class="header">College Football Playoff</h2>
      <table class="center">
        <tr>
        <th class="team-date">Date</th>
        <th class="team-name" style="border-left: 1px solid black">
          Bowl Game
        </th>
        <th class="team-check" style="border-left: 1px solid black"></th>
        <th class="team-name">Team 1</th>
        <th class="team-check" style="border-left: 1px solid black"></th>
        <th class="team-name" style="border-right: 1px solid black">Team 2</th>
        <th class="team-points">Points</th>
      </tr>
      <ng-container [formGroup]="playoffPickForm">
        <ng-container formArrayName="playoffPicks">
          <tr
            [formGroupName]="i"
            *ngFor="let pick of playoffPicks; let i = index"
          >
            <td class="team-date">
              {{ pick.game_time | date }}
            </td>
            <td class="team-name" style="border-left: 1px solid black">
              {{ pick.bowl_name }}
            </td>
            <td class="team-check" style="border-left: 1px solid black">
              <sky-checkbox
                formControlName="team1picked"
                (click)="updateSelection(pick.game_id, 1, 0)"
              >
              </sky-checkbox>
            </td>
            <td class="team-name" style="border-right: 1px solid black">
              {{ pick.team_1_name }}
            </td>
            <td class="team-check" style="border-left: 1px solid black">
              <sky-checkbox
                formControlName="team2picked"
                (click)="updateSelection(pick.game_id, 2, 0)"
              >
              </sky-checkbox>
            </td>
            <td class="team-name" style="border-right: 1px solid black">
              {{ pick.team_2_name }}
            </td>
            <td *ngIf="!pick.is_new_years_game">
              <select formControlName="points">
                <option
                  *ngFor="let pointValue of pointValues"
                  [ngValue]="pointValue"
                >
                  {{ pointValue }}
                </option>
              </select>
            </td>
            <td *ngIf="pick.is_new_years_game">
              <select formControlName="points">
                <option
                  *ngFor="let pointValue of newYearsPointValues"
                  [ngValue]="pointValue"
                >
                  {{ pointValue }}
                </option>
              </select>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </table> -->
      <!-- Championship Pick -->
      <!-- <div class="center">
      <br />
    </div>
    <h2 class="header">College Football Championship Game</h2>
    <div class="header" *ngIf="!showChampionship">
      Select the winners of the playoff games to compete in the championship
      game.
    </div> -->
      <!-- Championship Pick -->
      <!-- <div *ngIf="showChampionship">
      <br />
      <table class="center">
        <tr>
          <th class="team-date">Date</th>
          <th class="team-name" style="border-left: 1px solid black">
            Bowl Game
          </th>
          <th class="team-check" style="border-left: 1px solid black"></th>
          <th class="team-name">Team 1</th>
          <th class="team-check" style="border-left: 1px solid black"></th>
          <th class="team-name" style="border-right: 1px solid black">
            Team 2
          </th>
          <th class="team-points">Points</th>
        </tr>
        <ng-container [formGroup]="championshipPickForm">
          <ng-container formArrayName="championshipPicks">
            <tr
              [formGroupName]="i"
              *ngFor="let pick of championshipPicks; let i = index"
            >
              <td class="team-date">
                {{ pick.game_time | date }}
              </td>
              <td class="team-name" style="border-left: 1px solid black">
                {{ pick.bowl_name }}
              </td>
              <td class="team-check" style="border-left: 1px solid black">
                <sky-checkbox
                  formControlName="team1picked"
                  (change)="updateSelection(pick.game_id, 1, 0)"
                >
                </sky-checkbox>
              </td>
              <td class="team-name" style="border-right: 1px solid black">
                {{ pick.team_1_name }}
              </td>
              <td class="team-check" style="border-left: 1px solid black">
                <sky-checkbox
                  formControlName="team2picked"
                  (change)="updateSelection(pick.game_id, 2, 0)"
                >
                </sky-checkbox>
              </td>
              <td class="team-name" style="border-right: 1px solid black">
                {{ pick.team_2_name }}
              </td>
              <td *ngIf="!pick.is_new_years_game">
                <select formControlName="points">
                  <option
                    *ngFor="let pointValue of pointValues"
                    [ngValue]="pointValue"
                  >
                    {{ pointValue }}
                  </option>
                </select>
              </td>
              <td *ngIf="pick.is_new_years_game">
                <select formControlName="points">
                  <option
                    *ngFor="let pointValue of newYearsPointValues"
                    [ngValue]="pointValue"
                  >
                    {{ pointValue }}
                  </option>
                </select>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </table>
    </div>
    <div class="center">
      <br />
    </div> -->
    </div>
    <!-- Tiebreakers Section Removed -->
    <sky-alert *ngIf="showSubmitError" alertType="danger">
      {{ submitErrorMsg }}
    </sky-alert>
    <!-- <button (click)="selectAllTeam2()">pick all team 2s</button> -->
    <div style="text-align: center; padding-top: 20px">
      <button
        class="sky-btn sky-btn-primary sky-margin-inline-compact"
        (click)="submit()"
      >
        Submit
      </button>
      <button class="sky-btn sky-margin-inline-compact" (click)="clear()">
        Clear
      </button>
      <div *ngIf="submitted">Success! Thank you for submitting your entry.</div>
    </div>
    <br />
  </div>
  <div *ngIf="submitted">
    <app-picks-completed [picks]="allPicks" [name]="name" [email]="email">
    </app-picks-completed>
    <br />
  </div>
</main>
