<div class="add-bowl-game-container">
  <!-- Success Message -->
  <div *ngIf="addMessage" class="success-message">
    {{ addMessage }}
  </div>

  <!-- Form Section -->
  <form [formGroup]="formGroup" class="form-section">
    <!-- Bowl Selection -->
    <div class="form-group">
      <label class="form-label">Bowl</label>
      <sky-dropdown class="form-dropdown">
        <sky-dropdown-button>{{ selectedBowl.name }}</sky-dropdown-button>
        <sky-dropdown-menu>
          <sky-dropdown-item *ngFor="let bowl of bowls">
            <button
              type="button"
              class="dropdown-item-btn"
              (click)="setBowlGame(bowl.id)"
            >
              {{ bowl.name }}
            </button>
          </sky-dropdown-item>
        </sky-dropdown-menu>
      </sky-dropdown>
    </div>

    <!-- School 1 Selection -->
    <div class="form-group">
      <label class="form-label">School 1</label>
      <sky-dropdown class="form-dropdown">
        <sky-dropdown-button>{{ selectedSchool1.Name }}</sky-dropdown-button>
        <sky-dropdown-menu>
          <sky-dropdown-item *ngFor="let school of schools">
            <button type="button" (click)="setSchool(school.ID!, 1)" class="dropdown-item-btn">
              {{ school.Name }}
            </button>
          </sky-dropdown-item>
        </sky-dropdown-menu>
      </sky-dropdown>
    </div>

    <!-- School 2 Selection -->
    <div class="form-group">
      <label class="form-label">School 2</label>
      <sky-dropdown class="form-dropdown">
        <sky-dropdown-button>{{ selectedSchool2.Name }}</sky-dropdown-button>
        <sky-dropdown-menu>
          <sky-dropdown-item *ngFor="let school of schools">
            <button type="button" (click)="setSchool(school.ID!, 2)" class="dropdown-item-btn">
              {{ school.Name }}
            </button>
          </sky-dropdown-item>
        </sky-dropdown-menu>
      </sky-dropdown>
    </div>

    <!-- Date/Time Selection -->
    <div class="form-group">
      <label class="form-label">Game Date & Time</label>
      <div class="datetime-inputs">
        <div class="datetime-field">
          <label class="datetime-label">Year</label>
          <input formControlName="year" type="number" class="form-input small" />
        </div>
        <div class="datetime-field">
          <label class="datetime-label">Month</label>
          <input formControlName="month" type="number" min="1" max="12" class="form-input small" />
        </div>
        <div class="datetime-field">
          <label class="datetime-label">Day</label>
          <input formControlName="day" type="number" min="1" max="31" class="form-input small" />
        </div>
        <div class="datetime-field">
          <label class="datetime-label">Hour</label>
          <input formControlName="hour" type="number" min="0" max="23" class="form-input small" />
        </div>
        <div class="datetime-field">
          <label class="datetime-label">Min</label>
          <input formControlName="minute" type="number" step="15" min="0" max="45" class="form-input small" />
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <button (click)="addBowlGame()" type="button" class="submit-button">
      Add Bowl Game
    </button>
  </form>
</div>
