<main>
  <h1 style="text-align: center">Bowl Pick'em XI</h1>
  <h2 style="text-align: center">Presented by <a href="https://www.lookawayinn.com/">Lookaway Inn</a></h2>
  <table>
    <tr>
      <td style="width: 70%">
        <h2 style="text-align: center">
          Welcome to 2023 Bowl Season!
        </h2>
        <h3 style="text-align: center">
          Submissions are closed!
        </h3>
      </td>
      <td style="width: 40%">
        <bowl-scores [hideAllScores]="true"></bowl-scores>
      </td>
    </tr>
    <tr>
      <daily-blog></daily-blog>
    </tr>
  </table>
</main>