<main>
  <h1 style="text-align: center">Bowl Pick'em XII</h1>
  <h2 style="text-align: center">
    Presented by <a href="https://www.lookawayinn.com/">Lookaway Inn</a>
  </h2>
  <table>
    <tr>
      <td>
        <h2 style="text-align: center">Welcome to 2024-2025 Bowl Season!</h2>
        <span style="text-align: center">
          This year introduces the 12 team college football playoff. As a quick
          introduction to the new format, you will still select bowls as normal.
          The first round of the playoffs AND the quarterfinals are included. In
          the quarterfinals matchups, you will see that you can pick the top
          seeds -or- either of the bottom 2 seeds. This means that if you pick
          the lower seeds, you will be awarded points if either of those teams
          advance and win.
        </span>
        <span>
          You will also pick the championship game and the national champion.
          Each of the championship game picks will be worth 2 points if correct.
          The champion will be worth 5 points. Neither will deduct points from
          your total score. None of your picks have to coordinate. For example, you could
          pick Team A and Team B to be in the championship game, but pick Team C
          to win the championship.
        </span>
      </td>
    </tr>
    <tr>
      <app-daily-blog></app-daily-blog>
    </tr>
  </table>
</main>
