@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

:host {
  display: block;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 20px;
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

.container {
  padding: 20px 0;
}

.header {
  margin: 30px 0 10px 0;
  color: #333;
  font-size: 28px;
  font-weight: 600;
  border-bottom: 3px solid #014d0e;
  padding-bottom: 15px;
  text-align: center;
}

.subtitle {
  text-align: center;
  color: #666;
  font-size: 16px;
  margin-bottom: 30px;

  a {
    color: #014d0e;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s ease;

    &:hover {
      color: #0a6b1a;
      text-decoration: underline;
    }
  }
}

.section-header {
  margin: 30px 0 20px 0;
  color: #333;
  font-size: 20px;
  font-weight: 600;
}

.blog-section {
  margin-top: 40px;
  padding: 20px 0;
}

.delete-button {
  background-color: maroon;
  border-color: maroon;
  color: white;
}

.create-button {
  padding-left: 35px;
  padding-top: 30px;
}

.navbar {
  font-size: 14pt;
}

//  /deep/ .sky-section-heading {
//    font-family: 'Titillium Web', // sans-serif;
//  }

//  /deep/ .sky-emphasized {
//    font-weight: bold;
//    font-family: 'Titillium Web', // sans-serif;
//  }

table {
  width: 100%;
}

.event-options {
  width: 60%;
}

.current-totals {
  width: 40%;
  text-align: right;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10pt;
  font-family: "Titillium Web", sans-serif;
}
