<main>
  <h1 style="text-align: center">Bowl Pick'em XII</h1>
  <h2 style="text-align: center">
    Presented by <a href="https://www.lookawayinn.com/">Lookaway Inn</a>
  </h2>
  <table>
    <tr>
      <td>
        <h2 style="text-align: center">Welcome to 2024 Bowl Season!</h2>
        <h3 style="text-align: center">
          This year introduces the 12 team college football playoff. We are
          still working out the details for the contest. Stay tuned!
        </h3>
      </td>
    </tr>
    <tr>
      <app-daily-blog></app-daily-blog>
    </tr>
  </table>
</main>
