<main>
  <h3 class="header">Entry Name: {{ name }}</h3>
  <h3 class="header">Total points: {{ points }}</h3>
  <h4 class="header">Championship Game: {{playoffPicks.school_1}} vs. {{playoffPicks.school_2}} </h4>
  <h4 class="header">National Champion: {{playoffPicks.champion}} </h4>
  <table class="center">
    <tr>
      <th class="team-name" style="border-left: 1px solid black">Bowl</th>
      <th class="team-check" style="border-left: 1px solid black"></th>
      <th class="team-name">Team 1</th>
      <th class="team-check" style="border-left: 1px solid black"></th>
      <th class="team-name" style="border-right: 1px solid black">Team 2</th>
      <th class="team-points" style="border-right: 1px solid black">Points</th>
    </tr>
    <tr *ngFor="let pick of picks">
      <td class="team-name" style="border-left: 1px solid black">
        {{ pick.bowl_name }}
        <b *ngIf="pick.not_played"><br />Canceled</b>
      </td>
      <td class="team-check" style="border-left: 1px solid black">
        <sky-icon
          style="color: red"
          icon="times"
          *ngIf="pick.team_1 && pick.team_2_won"
        ></sky-icon>
        <sky-icon
          style="color: green"
          icon="check-circle"
          *ngIf="pick.team_1 && pick.team_1_won"
        >
        </sky-icon>
        <sky-icon
          icon="check"
          *ngIf="!pick.team_1_won && !pick.team_2_won && pick.team_1"
        ></sky-icon>
      </td>
      <td class="team-name" style="border-right: 1px solid black">
        {{ pick.team_1_name }}
      </td>
      <td class="team-check" style="border-left: 1px solid black">
        <sky-icon
          style="color: red"
          icon="times"
          *ngIf="pick.team_2 && pick.team_1_won"
        ></sky-icon>
        <sky-icon
          style="color: green"
          icon="check-circle"
          *ngIf="pick.team_2 && pick.team_2_won"
        >
        </sky-icon>
        <sky-icon
          icon="check"
          *ngIf="!pick.team_1_won && !pick.team_2_won && pick.team_2"
        ></sky-icon>
      </td>
      <td class="team-name" style="border-right: 1px solid black">
        {{ pick.team_2_name }}
      </td>
      <td class="team-check">
        <div *ngIf="!pick.earned_points">
          <i>{{ pick.points }}</i>
        </div>
        <div *ngIf="pick.earned_points">{{ pick.earned_points }}</div>
      </td>
    </tr>
  </table>
</main>
