<main>
  <h1 class="header">Admin Dashboard - Year {{ currentYear }}</h1>
  <div class="admin-container">
    <!-- Main menu view -->
    <div *ngIf="selectedSection === null" class="admin-menu">
      <div class="section-buttons">
        <button 
          *ngFor="let section of sections" 
          class="section-btn"
          (click)="selectSection(section.id)"
          type="button"
        >
          {{ section.title }}
        </button>
      </div>
    </div>

    <!-- Component view -->
    <div *ngIf="selectedSection !== null" class="admin-content">
      <button class="back-btn" (click)="goBack()" type="button">← Back</button>
      
      <ng-container [ngSwitch]="selectedSection">
        <ng-container *ngSwitchCase="'blog'">
          <app-add-blog></app-add-blog>
        </ng-container>
        <ng-container *ngSwitchCase="'paid-status'">
          <app-paid-status (numberOfEntrants)="(entrantsMessage)"></app-paid-status>
        </ng-container>
        <ng-container *ngSwitchCase="'scores'">
          <app-update-scores></app-update-scores>
        </ng-container>
        <ng-container *ngSwitchCase="'playoff-result'">
          <app-add-playoff-result></app-add-playoff-result>
        </ng-container>
        <ng-container *ngSwitchCase="'add-bowl'">
          <app-add-bowl></app-add-bowl>
        </ng-container>
        <ng-container *ngSwitchCase="'add-game'">
          <app-add-bowl-game></app-add-bowl-game>
        </ng-container>
        <ng-container *ngSwitchCase="'add-school'">
          <app-add-playoff-school></app-add-playoff-school>
        </ng-container>
      </ng-container>
    </div>
  </div>
</main>

