<div style="border: solid 1px #ccc">
  <!-- Rules Section -->
  <table>
    <tr>
      <td>
        Complete the following:
        <ul>
          <li>Enter your entry name and email.</li>
          <li>Select a winner for each game, including the playoffs.</li>
          <li>Up to 5 games can have 5 bonus points.</li>
          <li>Up to 5 games can have 3 bonus points.</li>
          <li>
            One "Bonus" bowl game on 12/28 can have 10 bonus points. (Fenway,
            Pinstripe, New Mexico, Pop-Tarts, Arizona, Military, Alamo, and
            Independence)
          </li>
          <li>
            Select the two teams to play in the National Championship Game. Each
            correct selection earns 2 points.
          </li>
          <li>
            Select the National Champion. A correct selection earns 5 points.
          </li>
          <li>
            Validate all of your picks and points before clicking
            <span class="sky-emphasized">Submit</span>.
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
