<div style="border: solid 1px #ccc">
  <sky-page-summary>
    <sky-page-summary-alert>
      <sky-alert *ngIf="threePointError" alertType="danger" [closeable]="false">
        You have exceeded the maximum number of 3 point games.
      </sky-alert>
      <sky-alert *ngIf="fivePointError" alertType="danger" [closeable]="false">
        You have exceeded the maximum number of 5 point games.
      </sky-alert>
      <sky-alert *ngIf="tenPointError" alertType="danger" [closeable]="false">
        You have exceeded the maximum number of 10 point games.
      </sky-alert>
    </sky-page-summary-alert>
    <sky-page-summary-content>
      Complete the following:
      <ul>
        <li>Enter your entry name and email.</li>
        <li>Select a winner for each game, including the playoffs.</li>
        <li>Up to 5 games can have 5 bonus points.</li>
        <li>Up to 5 games can have 3 bonus points.</li>
        <li>One "Big Six" bowl game can have 10 bonus points. (Orange, Sugar, ReliaQuest, Citrus, Cotton, Rose)</li>
        <li>Select the tiebreakers at the end of the form.</li>
        <li>
          Validate all of your picks and points before clicking
          <span class="sky-emphasized">Submit</span>.
        </li>
      </ul>
    </sky-page-summary-content>
    <sky-page-summary-key-info>
      <!-- <sky-key-info>
        <sky-key-info-value>
          {{ threePointGames }}
        </sky-key-info-value>
        <sky-key-info-label> Three Point Games </sky-key-info-label>
      </sky-key-info>
      <sky-key-info>
        <sky-key-info-value>
          {{ fivePointGames }}
        </sky-key-info-value>
        <sky-key-info-label> Five Point Games </sky-key-info-label>
      </sky-key-info>
      <sky-key-info>
        <sky-key-info-value>
          {{ tenPointGames }}
        </sky-key-info-value>
        <sky-key-info-label> Ten Point Games </sky-key-info-label>
      </sky-key-info>
      <sky-key-info>
        <sky-key-info-value>
          {{ possiblePoints }}
        </sky-key-info-value>
        <sky-key-info-label> Total Possible Points </sky-key-info-label>
      </sky-key-info> -->
    </sky-page-summary-key-info>
  </sky-page-summary>
</div>
