<sky-repeater>
  <sky-repeater-item>
    <sky-repeater-item-title>1/3/2025</sky-repeater-item-title>
    <sky-repeater-item-content>
      <p>
        Well, the Bowl Series has proved it's worth. Without the 12 team
        bracket, none of the remaining teams would be playing. A case can be
        made for home fields and byes, but any of the teams left can win.
      </p>
      <p>
        Uncle Ed has shown his dominance, keeping a variety of extra point games
        and correct picks to stage a rally and take the lead. He and Big Bryce
        have the most correct picks at 27. Stormps Janley is a close second. As
        fate would have it, the Bahama Bowl may be the deciding game in our
        contest. Remember extra points are available for the remainder of the
        playoffs and no negative points. Uncle Ed likes Notre Dame to win. They
        both have the Irish in the finals.
      </p>
      <p>
        16th place has a three way tie and may very well come to our tiebreaker.
      </p>
      <p>
        The bottom of the bracket could be interesting. Tiger Al and Bram
        Collins have picked opposite teams in every game. They both have Georgia
        beating Oregon in the finals (so did I). Bram needs only one more
        incorrect selection to finish at the bottom.
      </p>
      <p>
        It has been a great contest. The Army/Marshall cancellation was
        unfortunate but clearly covered in the rules. Wishing everyone a great
        new year, enjoy the game!
      </p>
      <p>The General</p>
    </sky-repeater-item-content>
  </sky-repeater-item>
  <sky-repeater-item>
    <sky-repeater-item-title>12/31/2024</sky-repeater-item-title>
    <sky-repeater-item-content>
      <p>Happy New Year's Eve</p>
      <p>
        Z-Man and Stormps Janley share the lead going into a couple of heavy
        bowl days at 34 points. Uncle Ed and Wintergreen Zyn Pouch (I do not
        know what that means) are just 2 points behind.
      </p>
      <p>
        Of course the last games had a huge impact on the standings with plus
        and minus points on many games. Uncle Ed and Big Bryce have 22 correct
        selections, the best to date. Hawkeye is at the other end with only 10
        correct picks and the bottom of the standings has carnage everywhere,
        myself included, with Tiger Al and Michelle's winners vying for last
        place. 4 teams are tied for 16th place and the free entry.
      </p>
      <p>
        There are 5 games today with Alabama, Louisville, South Carolina, LSU
        and Penn State heavy favorites. WIth 4 games set for tomorrow and the
        second round playoffs over the next two days, there should be some good
        football to bring in the new year.
      </p>
      <p>Best of luck and stay safe tonight!</p>
      <p>The General</p>
    </sky-repeater-item-content>
  </sky-repeater-item>
  <sky-repeater-item>
    <sky-repeater-item-title>12/28/2024</sky-repeater-item-title>
    <sky-repeater-item-content>
      <p>Ouch.</p>
      <p>
        Yesterday's 5 games provided an opportunity for scores to go backwards
        in many instances. Three heavy favorites went down including Oklahoma,
        Texas A&M and the Ramblin Wreck of Georgia Tech. The point spread on the
        Syracuse game was 17.5. They won by 17.
      </p>
      <p>
        GeorgiaAllTheWay remains on top with WINTERGREEN ZYN POUCH and SLAPPERS
        shouting their way to second place. Z-Man, Stormps Janley and Big Bryce
        are hot on the trail only 4 back. Today should be an exciting day.
      </p>
      <p>
        Last place is getting tight as well. Mommalak and Michelle Radtke have
        the current nod. Neither utilized the 10 point option. Tiger Al has 10
        on Colorado and the outcome could vault him into the cellar but Nathan's
        winners has 10 on BYU. There is currently a 5 way tie for 16th place.
      </p>
      <p>
        Please no more requests to review the Army game. The rules are clear, we
        cannot change them this year but will certainly look at next year.
      </p>
      <p>
        Favorites today are North Carolina (56-16), Nebraska (47-25), TCU
        (62-10), Miami FL (55-17), Colorado State (47-25), NC State (59-13) and
        Colorado (48-24). Sunday will be an NFL break and a single game on
        Monday pits Iowa and
        <a
          href="https://hawkeyesports.com/sports/football/roster/player/drew-stevens"
        >
          Drew Stevens
        </a>
        against Missouri who comes in as a slight favorite. If Drew has a senior
        year like his current Junior year, he will end up as the second leading
        scorer in school history. He has a great future as a potential NFL
        candidate.
      </p>
      <p>Have a great weekend!</p>
      <p>The General</p>
    </sky-repeater-item-content>
  </sky-repeater-item>
  <sky-repeater-item>
    <sky-repeater-item-title> 12/27/2024 </sky-repeater-item-title>
    <sky-repeater-item-content>
      <p>
        Eighteen games in, 28 to go. GeorgiaAllTheWay opening up a 6 point lead
        as we approach the halfway point is encouraging. But as the saying goes
        "we don't give out trophies at halftime".
      </p>
      <p>
        The standings have been pretty consistent. Let Russ Cook, Trey's Picks
        and CuTiger77 remain in a logjam for second. There is a 7 way tie for
        16th place and the free 2025 entry. And last place has a three way tie
        and three more entries close behind. Note here that Nathan's winners has
        lost all 5 five point games. It is amazing he isn't even worse off. As a
        note, he has BYU for 10 over Colorado. Michelle Radtke and Michelle's
        winners only had the Toledo win to keep them from the same fate. Nathan
        had 5 on Pitt.
      </p>
      <p>
        In yesterday's games, all the heavy favorite selections lost. As well as
        the group has done up to this point, we are approaching mediocrity
        again. Pitt is still in shock. I saw Coach Narducci leave the field in
        disgust after the overtime loss. He could well be on his way out the
        door.
      </p>
      <p>
        With 5 games today, we are getting to some well known, blue chip
        matchups. The group likes Oklahoma, Georgia Tech, Syracuse by a W I D E
        margin, A&M and the 12th man and the Liberty Bowl a toss-up. YOu can
        watch football today from 3 pm until 1 am if you are off, work from
        home, or have a TV in the office or your phone. It will bring us to the
        halfway point. If the favorites win, CuTiger77 could vault into the lead
        with extra points on the Sooners and Orangemen. Stormps Janley is going
        heavy against the grain and could make a move with some upsets.
      </p>
      <p>Have a great Football Friday!</p>
      <p>The General</p>
    </sky-repeater-item-content>
  </sky-repeater-item>
  <sky-repeater-item>
    <sky-repeater-item-title>
      <div class="pull-left">12/26/2024</div>
    </sky-repeater-item-title>
    <sky-repeater-item-content>
      <p>
        Our leader is GeorgiaAlltheWay who had a strong early showing and is
        keeping the pace into the busy Christmas week of games. The only blemish
        is the opening game loss of SC State. They are joined by 5 other entries
        of one loss but are at the top due to 6 extra point wins. To no one's
        surprise, they have Georgia going all the way.
      </p>
      <p>
        The only extra points on the Idaho Potato Bowl was Michelle's Winners,
        however she still remains at the bottom of the pile. A few more had some
        juice on UTSA to bunch the bottom of the standings.
      </p>
      <p>
        What better way to celebrate College football than the Hawaii Bowl on
        Christmas Eve between South Florida and San Jose State. It seems teams
        from Minnesota and Wyoming would have been better choices to appreciate
        the weather, but Hawaii is probably a step up for any team. Let Russ
        Cook, Treys Picks and CuTiger77 are close in a tie for second. There is
        a 5 way tie for 16th place and the coveted free entry for next year.
        This year's free entry went to Beach Happy, who changed his name to
        Beachrich and is wallowing in 56th. Local prognosticator LarkNation is
        climbing fast and poised to make a run this week.
      </p>
      <p>
        Enjoy your Christmas holiday! Our next update will be after the games on
        the 26th.
      </p>
      <p>The General</p>
    </sky-repeater-item-content>
  </sky-repeater-item>

  <sky-repeater-item>
    <sky-repeater-item-title>
      <div class="pull-left">12/21/2024</div>
    </sky-repeater-item-title>
    <sky-repeater-item-content>
      <p>
        Sam Houston State surprised a lot of people with their victory over
        Georgia Southern. Ohio, Florida and Notre Dame were popular choices for
        most.
      </p>
      <p>
        The leader board has a new top dog with GeorgiaAllTheWay at 21 points
        and among 8 entries that have missed only one game. Bogie and Hate the
        portal are in a close tie for second at 19 points. The 16th place
        finisher gets a free entry next year. There are currently 13 people tied
        for that spot. And being really bad at selecting winners can also pay
        off. Last place is a winner too and Michelle's winners (appropriately
        named) has a 4 point lead over Mommalak who really likes the Tigers
        today. Michelle's winners are banking on a Volunteer victory over the
        Buckeyes.
      </p>
      <p>
        Today's games bring the balance of the first round playoff games. All
        the higher seeds are popular choices in the contest with Penn State,
        Texas and Ohio State, in that order. The Nittany Lions have 38 extra
        point picks, 33 in the Texas/Clemson game and only 12 in the Buckeyes
        game. Interestingly, Clemson has 8 extra point selections, SMU has 5 and
        Tennessee only 2.
      </p>
      <p>
        Overall the contest is 425 - 151 for a 73.8% success rate. Not too
        shabby!
      </p>
      <p>
        After an NFL Break on Sunday we have 18 games over the next 6 days.
        Enjoy your weekend!
      </p>
      <p>The General</p>
    </sky-repeater-item-content>
  </sky-repeater-item>

  <sky-repeater-item>
    <sky-repeater-item-title>
      <div class="pull-left">12/15/2024</div>
    </sky-repeater-item-title>
    <sky-repeater-item-content>
      <p>
        Bowl Season finally arrived. I must admit Saturday was a personally busy
        day for me and I watched little football. The SC State loss to Jackson
        State coupled with the South Alabama victory left 4 entries out to a
        jackrabbit start. A surprising 32 people laid extra points on the the
        Salute to Veterans Bowl. The positive extra points on a game always
        helps. ColFrbn2001, The Pook22, Big Bryce and Wolfcreek2 lead the early
        returns.
      </p>
      <p>
        71 brave souls have entered this year, another record. It seems about
        half that many Marshall players opted out of their bowl game against
        Army. As a result of the Covid years, we instituted a rule that any
        cancelled bowl games or games that had its participants changed after
        submission would simply be eliminated from the contest and any extra
        points associated with the game would be as if they never occurred. It
        is a tough pill to swallow as Army was a huge pick for people with a 10
        point risk, my entry included. Another reason the opting out of players
        and the portal is so bad for college football.
      </p>
      <p>
        We take an NFL break for a few days, returning for the Frisco Bowl
        between WVU and Memphis followed by Boca Raton and the LA Bowl the
        following day. Memphis is a popular pick on Tuesday with only
        ColFrbn2001 opting for the Mountaineers.
      </p>
      <p>
        Many thanks to all playing this year, especially the new ones. Welcome
        those LarkNation subscribers. I have a few entry fees outstanding. Let's
        get that cleared up please!
      </p>
    </sky-repeater-item-content>
  </sky-repeater-item>
</sky-repeater>
