<main>
  <h1 style="text-align: center">
    Lookaway Review
  </h1>
  <sky-repeater expandMode="single">
    <sky-repeater-item>
      <sky-repeater-item-title>
        <div class="pull-left">Bowl Series Day 1</div>
        <div class="pull-right">
          <span class="label"> 12/16/2023 </span>
        </div>
      </sky-repeater-item-title>
      <sky-repeater-item-content>
        <p>Many thanks to Toasty Solutions for a great contest website with loads of information available. With all the
          things wrong with college football including playoff teams, NIL, Transfer Portal, we will concentrate on the
          fun side of Bowl Season and the players who will entertain us over the next few weeks.. </p>
        <p>Well, 68 entries in this year's contest! With seven bowl games played, it was the busiest day of the year and
          will share the same number of games with December 23. There were a few noteworthy accomplishments.</p>
        <p> Colonel Forbin 2001 brings an unblemished mark of 7-0 to Monday's game, being the only contestant to achieve
          it but only a sixth place position. Eight players have only missed one game. The other side of the spectrum
          has Unbridled Enthusiasm with just one correct pick and in a last place tie with Square Grouper. A whopping
          87% of the field took Florida A&M for the win while 76% went with App State for the loss. We do like to select
          local. Go4Bronze and Elephant 123 lead the way with 11 points and an 18 point lead on our cellar dwellers.
          They each loaded up early on extra point games, Go4Bronze hit three 3 pointers and Elephant 123 hit two 5
          pointers along with a 1-1 record on the 3's. Either way, a great start. College football prognosticator
          LarkNation always has his eyes on a top 5 finish. While discussing the game winner selection method, he
          thought using team colors, mascots and nicknames as dependable as watching the season unfold. He sits in a tie
          for 44th.</p>
        <p> We again have lots of family members and smaller contests in our contest for bragging rights. Sunday is a
          day of rest for an NFL breather. We return Monday for the Famous Toastery Bowl (What is that??) with 44 opting
          for Western Kentucky and 24 with Old Dominion (the school of female basketball star from NAHS Amari Young).
          ANGC can move into a tie for the lead with a WKU win as he has wagered 5 valuable points on this one. Square
          Grouper will have the basement alone with a WKU win as he has 3 on ODU.</p>
        <p> Happy Bowl Season!</p>
      </sky-repeater-item-content>
    </sky-repeater-item>
  </sky-repeater>
</main>