<sky-repeater expandMode="single">
  <sky-repeater-item [isExpanded]="true">
    <sky-repeater-item-title>
      <div class="pull-left">12/21/2024</div>
    </sky-repeater-item-title>
    <sky-repeater-item-content>
      <p>
        Sam Houston State surprised a lot of people with their victory over
        Georgia Southern. Ohio, Florida and Notre Dame were popular choices for
        most.
      </p>
      <p>
        The leader board has a new top dog with GeorgiaAllTheWay at 21 points
        and among 8 entries that have missed only one game. Bogie and Hate the
        portal are in a close tie for second at 19 points. The 16th place
        finisher gets a free entry next year. There are currently 13 people tied
        for that spot. And being really bad at selecting winners can also pay
        off. Last place is a winner too and Michelle's winners (appropriately
        named) has a 4 point lead over Mommalak who really likes the Tigers
        today. Michelle's winners are banking on a Volunteer victory over the
        Buckeyes.
      </p>
      <p>
        Today's games bring the balance of the first round playoff games. All
        the higher seeds are popular choices in the contest with Penn State,
        Texas and Ohio State, in that order. The Nittany Lions have 38 extra
        point picks, 33 in the Texas/Clemson game and only 12 in the Buckeyes
        game. Interestingly, Clemson has 8 extra point selections, SMU has 5 and
        Tennessee only 2.
      </p>
      <p>
        Overall the contest is 425 - 151 for a 73.8% success rate. Not too
        shabby!
      </p>
      <p>
        After an NFL Break on Sunday we have 18 games over the next 6 days.
        Enjoy your weekend!
      </p>
      <p>The General</p>
    </sky-repeater-item-content>
  </sky-repeater-item>

  <sky-repeater-item [isExpanded]="true">
    <sky-repeater-item-title>
      <div class="pull-left">12/15/2024</div>
    </sky-repeater-item-title>
    <sky-repeater-item-content>
      <p>
        Bowl Season finally arrived. I must admit Saturday was a personally busy
        day for me and I watched little football. The SC State loss to Jackson
        State coupled with the South Alabama victory left 4 entries out to a
        jackrabbit start. A surprising 32 people laid extra points on the the
        Salute to Veterans Bowl. The positive extra points on a game always
        helps. ColFrbn2001, The Pook22, Big Bryce and Wolfcreek2 lead the early
        returns.
      </p>
      <p>
        71 brave souls have entered this year, another record. It seems about
        half that many Marshall players opted out of their bowl game against
        Army. As a result of the Covid years, we instituted a rule that any
        cancelled bowl games or games that had its participants changed after
        submission would simply be eliminated from the contest and any extra
        points associated with the game would be as if they never occurred. It
        is a tough pill to swallow as Army was a huge pick for people with a 10
        point risk, my entry included. Another reason the opting out of players
        and the portal is so bad for college football.
      </p>
      <p>
        We take an NFL break for a few days, returning for the Frisco Bowl
        between WVU and Memphis followed by Boca Raton and the LA Bowl the
        following day. Memphis is a popular pick on Tuesday with only
        ColFrbn2001 opting for the Mountaineers.
      </p>
      <p>
        Many thanks to all playing this year, especially the new ones. Welcome
        those LarkNation subscribers. I have a few entry fees outstanding. Let's
        get that cleared up please!
      </p>
    </sky-repeater-item-content>
  </sky-repeater-item>
</sky-repeater>
