<h3 style="text-align: center">Bowl Games for {{ todaysDate  }}</h3>
<div *ngIf="todaysGames && todaysGames.length > 0">
  <table class="center">
    <tr>
      <td class="header">Bowl</td>
      <td class="header">Team 1</td>
      <td class="header">Team 2</td>
    </tr>
    <tr *ngFor="let game of todaysGames">
      <td class="bowl">
        <button
          class="sky-btn sky-btn-link-inline"
          type="button"
        >
          {{ game.bowl_name }}
        </button>
      </td>
      <td class="team-name">
        {{ game.school_1_name }}
      </td>
      <td class="team-name">
        {{ game.school_2_name }}
      </td>
    </tr>
  </table>
</div>
<div
  style="text-align: center"
  *ngIf="!todaysGames || todaysGames.length === 0"
>
  No Games
</div>
<h3 style="text-align: center">Bowl Scores</h3>
<table class="center">
  <tr style="font-weight: bolder; background-color: burlywood">
    <td>Date</td>
    <td>Bowl</td>
    <td>Team 1</td>
    <td>Score</td>
    <td>Team 2</td>
    <td>Score</td>
  </tr>
  <tr *ngFor="let bowl of gameResults">
    <td class="team-date">
      {{ bowl.game_time | date }}
    </td>
    <td class="team-name">
      <button
        class="sky-btn sky-btn-link-inline"
        type="button"
      >
        {{ bowl.bowl_name }}
      </button>
    </td>
    <td class="winning-team" *ngIf="teamWon(1, bowl)">
      {{ bowl.team_1_name }}
    </td>
    <td class="winning-team" *ngIf="teamWon(1, bowl)">
      {{ bowl.score_1 }}
    </td>
    <td *ngIf="!teamWon(1, bowl)">
      {{ bowl.team_1_name }}
    </td>
    <td *ngIf="!teamWon(1, bowl)">
      {{ bowl.score_1 }}
    </td>
    <td class="winning-team" *ngIf="teamWon(2, bowl)">
      {{ bowl.team_2_name }}
    </td>
    <td class="winning-team" *ngIf="teamWon(2, bowl)">
      {{ bowl.score_2 }}
    </td>
    <td *ngIf="!teamWon(2, bowl)">
      {{ bowl.team_2_name }}
    </td>
    <td *ngIf="!teamWon(2, bowl)">
      {{ bowl.score_2 }}
    </td>
  </tr>
</table>
